// ボタン設定
.btn-index {
  display: inline-block;
  text-align: center;
  justify-content: space-around;
  width: 30%;
  background-color: $black;
  height: 75px;
  margin-top: 2.5%;
  position: relative;

  // ボタン矢印
  &::before {
    content: '';
    width: 30px;
    height: 5px;
    border-bottom: solid 2px $white;
    border-right: solid 2px $white;
    transform: skew(45deg);
    position: absolute;
    top: 45%;
    right: 8%;
    z-index: 1;
  }

  &::after {
    content: '';
    width: 44px;
    height: 44px;
    border: solid 1px $white;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    top: 52%;
    right: 18px;
    transform: translateY(-50%);
  }

  // ボタン矢印（カーソルが乗っているとき）
  &:hover::before {
    animation: arrow 2s infinite;
  }

  // ボタン円（カーソルが乗っているとき）
  &:hover {
    fill: transparent;
    stroke: $white;
    stroke-width: 2;
    opacity: 1;
    animation: btn-circle 2s infinite;
    position: relative;
  }

  // ボタン文字
  p {
    font-family: 'Barlow Condensed',
      sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: $white;
    letter-spacing: -0.035em;
    padding-top: 6%;
  }
  
  // ボタン円
  svg {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
  }
}

// ボタン円アニメーション
@keyframes btn-circle {
  0% {
    stroke-dasharray: 0 366;
  }
  
  99.9%, to {
    stroke-dasharray: 366 366;
  }
}

// ボタン矢印アニメーション
@keyframes arrow {
  0% {
    right: 8%;
  }

  25% {
    right: 7%;
  }

  50% {
    right: 8%;
  }

  75% {
    right: 7%;
  }

  100% {
    right: 8%;
  } 
}

// ボタン(learn more)
.btn-service {
  h1 {
    color: $orange;
    letter-spacing: 2.5px;
    text-align: right;
    position: relative;

    &:hover {
      opacity: 0.8;
    }
  
    &::before {
      content: "";
      background-color: $orange;
      height: 2px;
      width: 100px;
      position: absolute;
      top: 50%;
      right: 20%;
    }

    &:hover::before {
      animation: learn-line 1s infinite;
    }
  }
}

// ボタン(learn more)アニメーション
@keyframes learn-line {
  0% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

// インデックスコンタクトボタン(Contact form)
.btn-index-contact {
  margin: 0 auto;
}

// コンタクトボタン（送信）
.btn-contact {
  display: block;
  background-color: $white;
  color: $black;
  border: solid 1px $black;
  transition: 0.4s;
  cursor: pointer;
  font-size: 1em;
  width: 15%;
  line-height: 3em;
  margin: 0 auto;

  &:hover {
    color: $white;
    background: $black;
  }
}

//レスポンシブ対応（1024px） 
@media screen and (max-width: 1024px) {
.btn-index {
  p {
    padding-top: unset;
    padding: 7% 10% 0 0;
  }

  &::after {
    right: 15.6px;
  }
}

.btn-service {
  h1 {
    &::before {
      right: 25%;
    }
  }
}

// ボタン矢印アニメーション
@keyframes arrow {
  0% {
    right: 9%;
  }

  25% {
    right: 8.5%;
  }

  50% {
    right: 9%;
  }

  75% {
    right: 8.5%;
  }

  100% {
    right: 9%;
  }
}

}

//レスポンシブ対応（768px）
@media screen and (max-width: 768px) {
.btn-index {
  p {
    padding: 12.5% 10% 0 0;
    font-size: 20px;
  }

  // ボタン円
  &::after {
    right: 12.1px;
  }

  // ボタン矢印
  &::before {
    right: 9%;
  }
}

// ボタン矢印アニメーション
@keyframes arrow {
  0% {
    right: 9%;
  }

  25% {
    right: 8%;
  }

  50% {
    right: 9%;
  }

  75% {
    right: 8%;
  }

  100% {
    right: 9%;
  }
}

// サービスボタン
.btn-service {
  h1 {
    font-size: 16px;

    &::before {
      right: 32.5%;
    }
  }
}

}

//レスポンシブ対応（480px）
@media screen and (max-width: 480px) {
.btn-index {
  width: 40%;
  top: 20em;
  left: 50%;
  height: 60px;
  transform: translateX(-50%);

  p {
    padding: 14% 15% 0 0;
    font-size: 16px;
  }

  // ボタン円
  svg {
    top: 22%;
    right: 3%;
    width: 34px;
    height: 34x;

    circle {
      cx: 17px;
      cy: 17px;
      r: 15px;
    }
  }

  // ボタン矢印
  &::before {
    width: 15px;
    height: 3px;
  }

  // ボタン円
  &::after {
    right: 4.9px;
    top: 51%;
    width: 31px;
    height: 31px;
  }
}

.btn-index {
  &-news {
    top: 0;
  }

  &-contact {
    top: 0;
    left: 20%;
  }
}

// サービスボタン
.btn {
  &-service {
    h1 {
      &::before {
        right: 37.5%;
      }
    }
  }

  &-consulting {
    h1 {
      top: 20px;
    }
  }

  &-video {
    h1 { 
      top: -5px;
    }
  }

  &-web {
    h1 {
      top: -30px;
    }
  }
}

// 送信ボタン
.btn-contact {
  width: 30%;
  line-height: 2em;
  margin-top: 15%;
}

}
